<html>
        <head>
            <title>Megala's Portfolio </title>
            <link rel="stylesheet" type="text/css" href="main.css" />
            <link rel="icon" href="data:,">
        </head>
        <body>
                
                      <input id="burger" type="checkbox" hidden />
                      
                      <label for="burger">
                          <span></span>
                          <span></span>
                          <span></span>
                      </label>
                     <div style="margin-top:70px"> 
                      <div class="row">
                            <div class="col-sm-4">
                              <div class="flex">  
                               <a class="bttn" href="https://nm-portfolio.herokuapp.com">Home</a>
                              </div> 
                            </div>
                        </div> 
                        <div class="row">
                          <div class="col-sm-4"> 
                           <div class="flex">       
                            <a class="bttn" href="./project">Project</a>
                           </div> 
                          </div>
                        </div>
                        
                            <div class="row">
                             <div class="col-sm-4">
                              <div class="flex">        
                                <a class="bttn" href="./about">About</a>
                              </div>  
                             </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"> 
                                    <div class="flex">   
                                      <a class="bttn" href="./contact">Contact</a>
                                    </div>
                                </div>          
                            </div>
                        </div>         
                      <script
                      src="https://code.jquery.com/jquery-3.2.1.min.js"
                      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                      crossorigin="anonymous"></script>
                      <script src="index.js"></script>      
        </body>
</html>                      