<html>
        <head>
            <title>Megala's Project </title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="main.css" />
            <link rel="stylesheet" type="text/css" href="project.css" />
        </head>
        <body>
                
                      <input id="burger" type="checkbox" hidden />
                      
                      <label for="burger">
                          <span></span>
                          <span></span>
                          <span></span>
                      </label>
                      <div class="headline"> 
                            <h3>&lt;project&gt;</h3>
                      </div> 
                      <div class="top">
                      <div class="sub">
                          <h4>San Diego Top Spots</h4>
                          This is a small informational website containing a list of 30 "top places to see" in San Diego using NodeJS, React.
                          <a href="https://github.com/MegalaNatarajan/startnow-react100-san-diego-top-spots">
                            VIEW GITHUB</a>
                        </div>  
                      <div class="sub">
                            <h4>Dog Breeds</h4>
                            I created a ‘Dog Breeds’ project using react and axios. I used dog API to get dog breeds and dog images. user can enter or select a type of dog name and find their favorite dog.
                            <a href="https://github.com/MegalaNatarajan/startnow-react100-hackathon">
                                VIEW GITHUB</a>
                        </div>  
                      <div class="sub">
                            <h4>To Do List</h4>
                            This is a small to do list project. You can create, edit and delete list. 
                            <a href="https://github.com/MegalaNatarajan/startnow-react100-vstda">
                                VIEW GITHUB</a>
                        </div>
                        <div class="sub"> 
                                <h4>Mortgage Calculator</h4>
                                This is a Mortgage Calculator project. You can calculate mortgage. 
                                <a href="https://github.com/MegalaNatarajan/startnow-react100-mortgage-calculator">
                                    VIEW GITHUB</a>
                        </div>
                        <div class="sub">
                                    <h4>Astro Weight Calculator</h4>
                                    Calculate weight in each Planet. User can select Planet and calculate the weight.
                                    <a href="https://github.com/MegalaNatarajan/startnow-astro-weight-calculator">
                                        VIEW GITHUB</a> 
                        </div>   
                        </div>
                      <div class="bottomline">  
                            <h3>&lt;/project&gt;</h3>
                          </div>
                          <script
                          src="https://code.jquery.com/jquery-3.2.1.min.js"
                          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                          crossorigin="anonymous"></script>
                          <script src="index.js"></script>
        </body>
</html>              